*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0;
  padding: 0;
}

header {
  height: 130px;
  width: 100%;
  background-color: hsl(0, 0%, 68%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.top-header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.logo {
  flex-grow: 1;
  height: 100%;
  width: auto;
}

.tools {
  flex-grow: 0.5;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.search {
  width: 200px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
}

nav {
  height: 50%;
  width: 100%;
  line-height: 60px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  height: 100%;
}

nav ul li a:link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
}
